fastapi==0.121.2       
uvicorn==0.38.0
SQLAlchemy==2.0.44
pydantic==2.12.4
python-multipart==0.0.20      
python-jose==3.5.0           
bcrypt==5.0.0                
email-validator==2.3.0
passlib==1.7.4               
passlib[argon2]==1.7.4       
PyJWT==2.10.1                 
pymysql==1.1.2
alembic==1.16.5              
python-dotenv==1.0.0         
black==25.11.0
ruff==0.14.5
isort==6.1.0
autoflake==2.3.1
pre-commit==4.3.0          